################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HomeBuilding/.vs/HomeBuilding/FileContentIndex/58336a83-7cbc-4724-9392-d27d324c3438.vsidx
