################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HomeBuilding/.vs/HomeBuilding/FileContentIndex/df71e2a7-4e65-4681-aff5-229ab8d26eab.vsidx
/HomeBuilding/.vs/HomeBuilding/FileContentIndex/5febc5ba-7db3-4e55-beaf-9d01f9c1ed3e.vsidx
/HomeBuilding/.vs/HomeBuilding/FileContentIndex/5f456193-5706-43e9-9417-b2f558a83aa8.vsidx
/HomeBuilding/.vs/HomeBuilding/FileContentIndex/5301fe5e-b500-4cf9-b1f1-e5d205a8abfd.vsidx
