################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HomeBuilding/.vs/HomeBuilding/FileContentIndex/ed74e662-aa2e-44ee-bd00-ce7a1e6afee1.vsidx
