
@{
    Layout = "../Shared/_LayoutSignin.cshtml";
}

<section class="wrapper bg-light">
    <div class="container pb-12 pt-18">
        <div class="row">
            <div class="col-lg-7 col-xl-6 col-xxl-5 mx-auto ">
                <div class="card">
                    <div class="card-body p-11 text-center">
                        <p>กำหนดอีเมลที่ต้องการรีเซ็ตรหัสผ่าน</p>
                        <form class="text-start mb-3">
                            <div class="form-floating mb-4">
                                <input type="email" class="form-control" placeholder="อีเมลของคุณ" id="Email">
                                <label for="Email">อีเมลของคุณ</label>
                            </div>
                           
                            <a class="btn btn-success btn-login w-100 mb-2 fs-24">ตกลง</a>
                        </form>
                        <!-- /form -->
                        <div class="row">
                            <div class="col-12"><a href="@Url.Action("signin", "Home")" class="hover">กลับไปหน้าเข้าสู่ระบบ</a></div>
                        </div>
                        <!--/.social -->
                    </div>
                        <!--/.card-body -->
                    </div>
                <!--/.card -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->