
@{
    Layout = "../Shared/_LayoutSignin.cshtml";
}

<section class="wrapper bg-light">
    <div class="container pb-12 pt-18">
        <div class="row">
            <div class="col-lg-7 col-xl-6 col-xxl-5 mx-auto ">
                <div class="card">
                    <div class="card-body p-11 text-center">
                        <form class="text-start mb-3">
                            <div class="form-floating mb-4">
                                <input type="email" class="form-control" placeholder="ชื่อผู้ใช้" id="Username">
                                <label for="Username">ชื่อผู้ใช้</label>
                            </div>
                            <div class="form-floating password-field mb-4">
                                <input type="password" class="form-control" placeholder="รหัสผ่านเดิม" id="OldPassword">
                                <span class="password-toggle"><i class="uil uil-eye"></i></span>
                                <label for="OldPassword">รหัสผ่าน</label>
                            </div>
                            <div class="form-floating password-field mb-4">
                                <input type="password" class="form-control" placeholder="รหัสผ่านใหม่" id="NewPassword">
                                <span class="password-toggle"><i class="uil uil-eye"></i></span>
                                <label for="NewPassword">รหัสผ่านใหม่</label>
                            </div>
                            <div class="form-floating password-field mb-4">
                                <input type="password" class="form-control" placeholder="ยืนยันรหัสผ่านใหม่" id="ConfirmPassword">
                                <span class="password-toggle"><i class="uil uil-eye"></i></span>
                                <label for="ConfirmPassword">ยืนยันรหัสผ่านใหม่</label>
                            </div>
                            <a class="btn btn-success btn-login w-100 mb-2 fs-24">ตกลง</a>
                        </form>
                        <!-- /form -->
                        <div class="row">
                            <div class="col-12"><a href="@Url.Action("signin", "Home")" class="hover">กลับไปหน้าเข้าสู่ระบบ</a></div>
                        </div>
                        <!--/.social -->
                    </div>
                        <!--/.card-body -->
                    </div>
                <!--/.card -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->