
@{
    Layout = "../Shared/_LayoutSignin.cshtml";
}

<section class="wrapper bg-light">
    <div class="container pb-12 pt-18">
        <div class="row">
            <div class="col-lg-7 col-xl-6 col-xxl-5 mx-auto ">
                <div class="card">
                    <div class="card-body p-11 text-center">
                        <form class="text-start mb-3">
                            <div class="form-floating mb-4">
                                <input type="email" class="form-control" placeholder="ชื่อผู้ใช้" id="loginUsername">
                                <label for="loginUsername">ชื่อผู้ใช้</label>
                            </div>
                            <div class="form-floating password-field mb-4">
                                <input type="password" class="form-control" placeholder="รหัสผ่าน" id="loginPassword">
                                <span class="password-toggle"><i class="uil uil-eye"></i></span>
                                <label for="loginPassword">รหัสผ่าน</label>
                            </div>
                            <a class="btn btn-success btn-login w-100 mb-2 fs-24" href="@Url.Action("search", "Receipt")">เข้าใช้งาน</a>
                        </form>
                        <!-- /form -->

                        <div class="divider-icon my-4">or</div>
                        <div class="row">
                            <div class="col-6"><a href="@Url.Action("resetpassword", "Home")" class="hover">เปลี่ยนรหัสผ่าน</a></div>
                            <div class="col-6"><a href="@Url.Action("forgotpassword", "Home")" class="hover">ลืมรหัสผ่าน</a></div>
                        </div>
                        <!--/.social -->
                    </div>
                        <!--/.card-body -->
                    </div>
                <!--/.card -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->