
@{
    Layout = "~/Views/Shared/_LayoutReceipt.cshtml";
}

<section class="wrapper">
    <div class="container">
        <div class="row pt-4 text-start">
            <div class="col-12 ps-10 pe-10">
                <p class="fs-14 m-0">(นาย สสส สสส)</p>
                <p class="fs-14 m-0">ที่อยู่: 1/50 เขตจตุจักร กรุงเทพฯ 12110</p>
                <p class="fs-14 m-0">เบอร์โทร:085325445</p>
                <p class="fs-40 mt-3">ใบเสร็จรับเงิน</p>
            </div>
            <p class="col-3 fs-14 m-0 ps-10">เลขที่:00001</p>
            <p class="col-9 fs-14 m-0 pe-10">วันที่:27/10/2022</p>

            <div class="col-12 ps-10 pe-10">
                <table class="table table-bordered fs-14 m-0">
                    <thead style="background-color:#BDCDFF;color:#525DFF">
                        <tr>
                            <th scope="col">ชื่อผู้ว่าจ้าง</th>
                            <th scope="col">ชื่อรับจ้าง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>นาย สสส สสส</td>
                            <td>นาง สมศรี ใจดี</td>
                        </tr>
                        <tr>
                            <td>ที่อยู่: 1/50 เขตจตุจักร กรุงเทพฯ 12110</td>
                            <td>ที่อยู่: 5/51 เขตจตุจักร กรุงเทพฯ 12110</td>
                        </tr>
                        <tr>
                            <td>เบอร์โทร:085325445</td>
                            <td>เบอร์โทร:088425712</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered fs-14 mt-1 mb-0">
                    <thead style="background-color:#BDCDFF;color:#525DFF">
                        <tr>
                            <th scope="col">รายละเอียดงานที่ว่าจ้าง</th>
                            <th scope="col">หน้างานโครงการ</th>
                            <th scope="col">มูลค่าสัญญา</th>
                            <th scope="col">หมายเลขสัญญา</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>งานปูกระเบื้อง/งานเทพื้น/งานรื้อนั่งร้าน</td>
                            <td>บ้านคุณ AAA</td>
                            <td>1,000,000 บาท</td>
                            <td>000001</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered fs-14 mt-1 mb-0">
                    <thead style="background-color:#BDCDFF;color:#525DFF">
                        <tr>
                            <th scope="col">รายการที่รอบนี้</th>
                            <th scope="col">วันที่</th>
                            <th scope="col">หมายเลขใบเสร็จ</th>
                            <th scope="col">จำนวนเงิน(บาท)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>27/10/2022</td>
                            <td>B-000001</td>
                            <td>1,000,000</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered fs-14 mt-1 mb-0">
                    <thead style="background-color:#BDCDFF;color:#525DFF">
                        <tr>
                            <th scope="col">ประวัติการเบิก</th>
                            <th scope="col">วันที่</th>
                            <th scope="col">หมายเลขใบเสร็จ</th>
                            <th scope="col">จำนวนเงิน(บาท)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>27/10/2022</td>
                            <td>B-000001</td>
                            <td>1,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 pt-2 pe-8 text-end">
            <p class="fs-14 m-0">รวมรายการที่เบิกทั้งหมด: 1,000,000.00 บาท</p>
            <p class="fs-14 m-0">ยอดคงเหลือ: 10,000,000.00 บาท</p>
        </div>

        <div class="row justify-content-end fs-14 pt-8">
            <div class="col-4 text-center ">
                <p>ลงชื่อ ..................................................................... (ผู้ว่าจ้าง)<br />นาย สสส สสส</p>
            </div>
            <div class="col-4 text-center ">
                <p>ลงชื่อ ..................................................................... (ผู้รับจ้าง)<br />นาย สมศรี ใจดี</p>
            </div>
        </div>
        <div class="row text-end">
            <div class="col-12 pe-10">
                <hr class="mt-8 mb-1" />
                <hr class="mt-1 mb-3" />
                <a href="#" class="btn btn-sm rounded-pill btn-gradient gradient-6 mb-8 me-1 w-18 fs-16 pt-1 pb-1">พิมพ์</a>
            </div>
        </div>
    </div>
</section>