
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutReceipt.cshtml";
}

@section scripts {
    <script>
        $(document).ready(function () {
            $("#btn-search").click(function () {
                $("#btn-search").prop('disabled', true);
                $.post("@Url.Action("ListContractSearch", "Contract")", $("#form-search").serialize(), function (html) {
                    $("#tbody-search").html(html);
                    $("#btn-search").prop('disabled', false);
                });
                return false;
            });

            $("#btn-print-contract").click(function () {
                if ($("input[type='radio'][name='selected']:checked").val()) {
                    window.location.href = "@Url.Action("DownloadPDF", "Contract")?id=" + $("input[type='radio'][name='selected']:checked").val();
                }
                else { alert("กรุณาเลือกสัญญาที่ต้องการพิมพ์"); }
            });

            $("#btn-print-receipt").click(function () {
                if ($("input[type='radio'][name='selected']:checked").val()) {
                    window.location.href = "@Url.Action("Print", "Receipt")?id=" + $("input[type='radio'][name='selected']:checked").val();
                }
                else { alert("กรุณาเลือกสัญญาที่ต้องการพิมพ์ใบเสร็จ"); }
            });
        });

    </script>
}
<section class="wrapper">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 pt-8 text-center">
                <h2>ค้นหาสัญญา/ออกใบเสร็จ</h2>
                <form id="form-search">
                    <div class="pt-2 mb-1 row justify-content-center">
                        <label for="name" class="col-3 col-form-label form-control-sm text-end text-dark">ผู้รับจ้าง:</label>
                        <div class="col-sm-5 ">
                            <input type="text" class="form-control form-control-sm" id="search-name" name="name" value="">
                        </div>
                    </div>
                    <div class="mb-1 row justify-content-md-center">
                        <label for="detail" class="col-3 col-form-label form-control-sm text-end text-dark">รายละเอียดงานที่ว่าจ้าง:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control form-control-sm" id="search-description" name="description">
                        </div>
                    </div>
                    <div class="mb-6 row justify-content-md-center">
                        <label for="project" class="col-3 col-form-label form-control-sm text-end text-dark">หน้างานโครงการ:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control form-control-sm" id="search-worksite" name="worksite">
                        </div>
                    </div>

                    <button id="btn-search" class="btn btn-sm btn-gradient gradient-6 mb-2 me-1 w-18 fs-16 pt-1 pb-1">ค้นหา</button>
                    <div class="row align-items-center">
                        <div class="col-12">
                            <hr class="mt-1 mb-3" />
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-12 ps-10 pe-10">
                        <table class="table table-bordered fs-14 ">
                            <thead style="background-color:#BDCDFF;color:#525DFF">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">หมายเลขสัญญา</th>
                                    <th scope="col">วันที่บันทึก</th>
                                    <th scope="col">ชื่อผู้ว่าจ้าง</th>
                                    <th scope="col">ชื่อผู้รับจ้าง</th>
                                    <th scope="col">รายละเอียดงานที่ว่าจ้าง</th>
                                    <th scope="col">หน้างานโครงการ</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-search"><tr><td colspan="7" class="text-center">ไม่มีรายการ</td></tr></tbody>
                        </table>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-12">
                        <hr class="mt-16 mb-1" />
                        <hr class="mt-1 mb-3" />
                        <button id="btn-print-contract" class="btn btn-sm rounded-pill btn-gradient gradient-6 mb-8 me-1 w-18 fs-16 pt-1 pb-1">พิมพ์สัญญา</button>
                        <button id="btn-print-receipt" class="btn btn-sm rounded-pill btn-gradient gradient-6 mb-8 me-1 w-18 fs-16 pt-1 pb-1">พิมพ์ใบเสร็จ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>